# Abaikan folder virtual environment & node_modules
venv/
env/
node_modules/

# Python Cache
__pycache__/
*.pyc

# Konfigurasi IDE & OS
.vscode/
.DS_Store
Thumbs.db

# File log & temporary
*.log
*.tmp

# Sembunyikan file config asli yang berisi API Key
config.json
.env